
body {
  font-family:arial, sans-serif;
  font-size:13px;
  text-align:center;
  height:100%;
  color:#333;
}

a {
  text-decoration: none;
  color:#333;
}

a:hover {
  text-decoration: underline;
}

.header {
  height: 30px;
  width: 100%;
}

.nav {
  float: right;
}

ul.nav {

}

ul.nav li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.top {
  margin-top: 8px;
  opacity: .75;
  text-decoration: none;
}

.sign_button {
  width: 45px;
  height: 28px;
  background-color: rgb(66, 133, 244);
  border-radius: 2px;
  font-weight: bold;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 28px;
}

.body {
  height: 500px;
  margin-top: 89px;
  text-align: center;
}

#logo {
  padding-top: 100px;
}

.search {
  width: 570px;
  height: 32px;
  margin: 0 auto;
}

.search_form {
  font-size: 15px;
  font-weight: bold;
  padding: 0 0 0 5px;
  display:inline-block;
  float: left;
  width: 535px;
  height: 30px;
  border: 1px solid #DCDCDC;
}

.search_form:hover {
  outline: none;
  border: 1px solid #757575;
}

.search_form:focus {
  outline: none;
  border: 1px solid #4285F4;
}

.mic {
  position: relative;
  display: inline-block;
  left: -26px;
  top: 5px;
}

#mic_icon {
    height: 24px;
}

a.tooltip {
  position: relative;
  display: inline;

}
a.tooltip span {
  position: absolute;
  width:100px;
  color: #FFFFFF;
  background: #000000;
  border: 2px solid #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 0px;
}
a.tooltip span:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-bottom: 12px solid #FFFFFF;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
a.tooltip span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltip span {
  visibility: visible;
  opacity: 0.8;
  top: 20px;
  left: 50%;
  margin-left: -52px;
  z-index: 999;
}

.search_button {
  background-color: rgb(242, 242, 242);
  border: 1px solid #F2F2F2;
	border-radius: 2px;
	color: #757575;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	margin-left: 5px;
  margin-top: 20px;
}

.search_button:hover {
  color: #212121;
  border-color: #BDBDBD;
}

.footer {
  height: 40px;
  overflow:hidden;
  display:block;
  text-align:left;
  background-color:#eee;
  border-top: 1px solid rgb(228, 228, 228);
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
}

.footer_right {
  float: right;
  padding-right: 30px;
}

.footer_item {
  padding-left: 27px;
  line-height: 40px;
}
